*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  margin: auto;
}
h1{
  font-family: Verdana;
  font-size: 24px;
  font-weight: bold;
}
h2, menu{
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}
.cabecera{
  background-color: lightblue;
  display: table;
  width: 100%;
}

.logo{
  width: 100px;
  display: table-cell;
}
.logo > img{
  width: 80px;
  padding: 10px;
  margin: 10px;
  margin-left: 25px;
  vertical-align: middle;
}
.cabecera>h1{
  display: table-cell;
  font-family: Helvetica;
  font-size: 36px;
  font-style: bold;
  vertical-align: middle;
  text-transform: capitalize;
}
.menuPrincipal{
  display: table-cell;
  vertical-align: top;
  margin-top: 10px;
}
.menuPrincipal nav{
  margin-top: 20px;
  margin-right: -90px;
}
.menuPrincipal ul{
  display: inline;
}
.menuPrincipal li{
  display: inline-block;
  background-color: steelblue;
  padding: 10px;
  margin-left: 10px;
}
.menuPrincipal a{
  text-decoration: none;
  color: white;
}
.container{
  width: 960px;
}
.menuSecundario{
  background-color: lightgrey;
  display: table;
  margin-right: 30px;
  margin-left: 20px;
  float: right;
}
.menuSecundario aside{
  width: 200px;
}
.menuSecundario ul:first-child{
  list-style: none;
  padding-right: 200px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 15px;
}
.menuSecundario a{
  text-decoration: none;
  color: black;
}
.menuSecundario li ul{
  display:none;
}
li:hover ul{
  list-style: none;
  width: 200px;
  margin-left: 20px;
  display:block;
}
.contenido{
  display: table;
  margin-top: 5px;
  margin-left: 40px;
}
.entrada1, .entrada2{
  background-color: linen;
  border: 2px solid lightgray;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}
.entrada2{
  margin-top: 10px;
}
.entrada1 img{
  width: 200px;
  margin-left: 10px;
}
.contenido footer{
  color: steelblue;
  margin-left: 500px;
}
hgroup{
  margin-bottom: 10px;
}
time{
  color:gray;
}
.entrada1 figcaption{
font-style: italic;
margin-top: 5px;
margin-bottom: 5px;
}
.cuerpo{
  margin-top: 10px;
  margin-bottom: 5px;
}
footer{
  margin-top: 20px;
  width: 100%;
}
footer p{
  text-align: center;
  margin: 20px;
}
